body {
  background-color: #562929;
  color: #ffe5e5;
  font-size: 18px;
}
h1 {
  margin-bottom: 20px;
  background-color: #2e2eff;
  border-top: 15px solid #800000;
  color: white;
  font-size: 79.2px;
}
h1 + h2 {
  margin-top: -20px;
}
h2 {
  background-color: #800000;
  font-size: 36px;
}
h2 + p {
  margin-bottom: 36;
}
