// out: css/main.css, sourcemap: true


//color variables
@DarkSide: darken(red, 25);
@LightSide: lighten(blue, 9);
@DarkSide-mute: desaturate(@DarkSide, 65);
@FontSide: lighten(@DarkSide, 70);

//type variables
@regular: 18px;
@large: @regular * 2;
@xlarge: @large * 2.2;
@small: @regular / .5;






body{
  background-color: @DarkSide-mute;
  color: @FontSide;
  font-size: @regular;
}

h1{
  margin-bottom: 20px;
  background-color: @LightSide;
  border-top:15px solid @DarkSide;
  color: white;
  font-size: @xlarge;
}

h2{
  background-color: @DarkSide;
  font-size: @large;
}
